<?xml version="1.0" encoding="UTF-8"?>
<!-- Basic WAM-V with gazebo plugins for dynamics -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="robotic_neck" params="namespace color parent_frame 
                                             x=0.0 y=0.0 z=0.1835
                                             R=0.0 P=0.0 Y=0.0">
      
      <!-- ADD BASE LINK-->
      <link name="${namespace}/base_link">
        <visual>
            <origin xyz="-0.015 0 -0.193" rpy="0 0 ${pi}"/>
            <geometry>
                <mesh filename="package://robotic_neck_viz/urdf/models/base/mesh/base.dae" />
            </geometry>
        </visual>
      </link>

      <joint name="${namespace}/base_link_joint" type="fixed">
          <parent link="${parent_frame}"/>
          <child link="${namespace}/base_link"/>
          <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
      </joint>

      <xacro:include filename="$(find robotic_neck_viz)/urdf/cross_piece.xacro"/>
      <xacro:cross_piece name="main" namespace="${namespace}" parent="${namespace}/base_link" rot1="pitch" rot2="roll" pitch2roll="1"/>
      
      <!-- ADD PLATFORM-->
      <link name="${namespace}/platform">
      <visual>
            <origin xyz="-0.025 0 0" rpy="0 0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://robotic_neck_viz/urdf/models/platform${color}/mesh/platform${color}_h.dae"/>
            </geometry>
        </visual>
      </link>

      <joint name="${namespace}/platform_joint" type="fixed">
        <parent link="${namespace}/main_cross_piece_roll"/>
        <child link="${namespace}/platform"/>
        <origin xyz="0 0 0.016"/> <!-- half universal join = 11,5 mm, nut = 4 mm, whasher = 0.5 mm -->
      </joint>

      <!-- ADD LINEAR ACTUATOR -->
      <xacro:include filename="$(find robotic_neck_viz)/urdf/linear_actuator.xacro"/>
      <xacro:linear_actuator name="right" namespace="${namespace}" side="-1" color="${color}"/>
      <xacro:linear_actuator name="left" namespace="${namespace}" side="1" color="${color}"/>

      <!-- ADD DEPTHAI CAMERA -->
      <xacro:include filename="$(find robotic_neck_viz)/urdf/camera/depthai_camera.xacro"/>
    </xacro:macro>
</robot>
