<?xml version="1.0"?>
<!-- Basic WAM-V with gazebo plugins for dynamics -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="WAM-V">
  <xacro:property name="cfg_file" value="$(find robotic_neck_viz)/config/robot_urdf.yaml" />
  <xacro:property name="cfg" value="${xacro.load_yaml(cfg_file)}"/>

  <xacro:arg name="namespace" default="${cfg['namespace']}"/>

  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />

  <!-- === The WAM-V platform === -->
  <xacro:include filename="$(find caleuche_viz)/urdf/components/wamv/wamv.urdf.xacro"/>

  <!-- === ADD Robotic Neck === -->
  <xacro:include filename="$(find robotic_neck_viz)/urdf/robotic_neck_cam.xacro"/>
  <xacro:robotic_neck namespace="state" color="_white" parent_frame="wamv/base_link" x="0.55" z="1.5"/>

</robot>
